@use 'reset';

:root {
    --color-primary: black;
    --color-secondary: white;
    --color-action: #BFBFBF;

    --font-size-huge: 2rem;
    --font-size-big: 1.5rem;
    --font-size-regular: 1rem;
    --font-size-small: 0.75rem;

    --kit-title-height: 6rem;

    --kit-border-color: var(--color-primary);
    --kit-border-size: 6px;

    --kit-global-gap-big: 2rem;
    --kit-global-gap-regular: 1rem;
    --kit-global-gap-small: 0.5rem;
}

body {
    display: flex;
}

.navbar {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--kit-global-gap-big);

    text-align: center;

    background-color: var(--color-primary);
    color: var(--color-secondary);

    &__logo-wrapper {
        flex-basis: var(--kit-title-height);
    }

    &__logo {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        font-size: var(--font-size-huge);
    }

    &__actions {
        flex: 9;

        display: flex;
        flex-direction: column;

        gap: var(--kit-global-gap-big);

        font-size: var(--font-size-big);
    }

    &__action {
        display: inline-block;
        width: 100%;
        padding: 1rem;

        &:hover {
            color: var(--color-primary);
            background-color: var(--color-secondary);
        }
    }
}

.dashboard {
    flex: 6;
    display: flex;
}

.foldable-menu {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    text-align: center;

    background-color: var(--color-primary);
    color: var(--color-secondary);

    &--hidden {
        display: none;
    }

    &__title {
        flex-basis: var(--kit-title-height);

        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: var(--font-size-big);
    }

    &__header {
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: stretch;

        font-size: var(--font-size-big);


        >* {
            flex: 1;
            display: inline-block;
            padding: 1rem;
        }
    }

    &__create {

        color: var(--color-primary);
        background-color: var(--color-secondary);
        border: var(--kit-border-size) solid var(--kit-border-color);

        &:hover {
            background-color: var(--color-action);
        }
    }

    &__list {
        flex: 8;
        margin-top: var(--kit-global-gap-small);
        padding: 1rem;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: var(--kit-global-gap-regular);

        overflow-y: auto;
    }

    &__item {
        flex: 0 0 3rem;
        color: var(--color-primary);
        background-color: var(--color-secondary);
    }

    &__object {
        width: 100%;
        height: 100%;

        &:hover {
            background-color: var(--color-action);
        }

        &--highlight {
            background-color: var(--color-action);
        }
    }
}

.screen {
    flex: 6;
    margin-inline: var(--kit-global-gap-small);

    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__header {
        flex: 0 0 var(--kit-title-height);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-huge);
    }

    &__main {
        flex: 9;
    }
}

.objects-grid {

    --item-size: 10rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, var(--item-size));
    grid-auto-flow: row;
    grid-auto-rows: var(--item-size);
    justify-content: center;

    gap: var(--kit-global-gap-regular);

    overflow-y: auto;

    &__item {
        border: var(--kit-border-size) solid var(--kit-border-color);
    }
}

.chiller-view {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__id {
        align-self: flex-start;
        margin-top: var(--kit-global-gap-small);
        margin-left: var(--kit-global-gap-small);
    }

    &__name {
        display: inline-block;
        margin: auto 0;
        font-size: var(--font-size-big);
        font-weight: bold;

    }

    &__last-checked {
        padding: 0.25rem;
        text-align: center;
    }

    &__liquid-level {
        width: 80%;
    }

}